@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?6kg64k');
  src:  url('../fonts/icomoon.eot?6kg64k#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?6kg64k') format('truetype'),
    url('../fonts/icomoon.woff?6kg64k') format('woff'),
    url('../fonts/icomoon.svg?6kg64k#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-uniE90D:before {
  content: "\e90d";
}
.icon-uniE90C:before {
  content: "\e90c";
}
.icon-uniE90B:before {
  content: "\e90b";
  color: #666;
}
.icon-uniE906:before {
  content: "\e906";
  color: #707070;
}
.icon--1:before {
  content: "\e907";
}
.icon-1:before {
  content: "\e908";
}
.icon--11:before {
  content: "\e909";
}
.icon-2:before {
  content: "\e90a";
}
.icon-close:before {
  content: "\e900";
}
.icon-keyboard_arrow_right:before {
  content: "\e901";
}
.icon-arrow_lift:before {
  content: "\e902";
}
.icon-keyboard_arrow_right1:before {
  content: "\e905";
}
.icon-thumb_down:before {
  content: "\e903";
}
.icon-thumb_up:before {
  content: "\e904";
}
.icon-file-text2:before {
  content: "\e926";
}
.icon-coin-yen:before {
  content: "\e93e";
}
.icon-compass:before {
  content: "\e949";
}
.icon-alarm:before {
  content: "\e950";
}
.icon-bubble:before {
  content: "\e96b";
}
.icon-bubble2:before {
  content: "\e96e";
}
.icon-bubbles3:before {
  content: "\e96f";
}
.icon-bubbles4:before {
  content: "\e970";
}
.icon-user:before {
  content: "\e971";
}
.icon-user-plus:before {
  content: "\e973";
}
.icon-spinner2:before {
  content: "\e97b";
}
.icon-spinner6:before {
  content: "\e97f";
}
.icon-search:before {
  content: "\e986";
}
.icon-switch:before {
  content: "\e9b6";
}
.icon-eye:before {
  content: "\e9ce";
}
.icon-brightness-contrast:before {
  content: "\e9d6";
}
.icon-star-empty:before {
  content: "\e9d7";
}
.icon-star-full:before {
  content: "\e9d9";
}
.icon-plus:before {
  content: "\ea0a";
}
.icon-play3:before {
  content: "\ea1c";
}
